@import "transition";

html{
	height: 100%;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #f0f0f0;
	overflow: hidden;
	position: relative;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}

.view{
	position: fixed;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
    overflow-x: hidden;
	z-index: 2;
}

.view.hidden{
	position: fixed;
	top: -9999px;
	left: -9999px;
	pointer-events: none;
}

header.fake{
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

header.fake,
.view>header{
	background: #b2bbca url(../images/navbar_gradient.png) repeat-x;
	background-size: 1px 44px;
	height: 44px;
	line-height: 44px;
	width: 100%;
	color: #fff;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.header-button{
	position: absolute;
	top: 0;
	padding: 7px 5px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	line-height: 1em;
}

.header-button button{
	pointer-events: none;
	box-sizing: border-box;
	min-width: 50px;
	height: 30px;
	line-height: 25px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: #fff;
	background-color: transparent;
	text-shadow: 0 -1px rgba(0,0,0,.6);
	padding: 0 4px;
	margin: 0;
	text-decoration: none;
	border-width: 2px 5px;
	-webkit-border-image: url(../images/ios/button.png) 4 10 4 10;
	border-image: url(../images/ios/button.png) 4 10 4 10 fill;
}
.view>header h1{
	padding: 0;
	text-align: center;
	font-size: 20px;
	text-shadow: 0 -1px rgba(0,0,0,.4);
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-flex: 1;
	box-flex: 1;
}
.view>header h1 img{
	vertical-align: -15%;
	border: 1px solid #fff;
}
.view>.scroll{
	-webkit-box-flex: 1;
	box-flex: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	height: 100%;
	position: relative;
}

body:not(.ios5) .view>.scroll:before{
	content: '';
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	height: 3px;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.205), rgba(0,0,0,0));
	background-image: linear-gradient(top, rgba(0,0,0,.205), rgba(0,0,0,0));
	background-size: 1px 3px;
}
.view>.scroll>section{
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
    overflow-x: hidden;
}

.header-back-button button{
	padding: 0 4px 0 0;
	border-width: 2px 4px 2px 13px;
	-webkit-border-image: url(../images/back-button.png) 4 8 4 26;
	border-image: url(../images/back-button.png) 4 8 4 26 fill;
}

/*
#view-home .scroll {
    margin: 0 5px;
}
*/

.shot-list-entry {
    background-image: url(../images/shadow@2x.png);
    background-repeat: no-repeat;
    background-position: 2px 8px;
    background-size:145px 111px;
    padding: 10px 5px 10px 5px;
    width: 145px;
    height: 141px;
    float: left;
}

.shot-list-entry span {
    font-size: 10px;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 5px;
}

/*
#apploader{
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #fff;
	pointer-events: none;
	opacity: 1;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}
#apploader.hide{
	opacity: 0;
}
*/


//#view-shot-details {
//    background-color: #f0f0f0;
//}

#shot-details {
    background-image: url(../images/tex-bak.gif);
    background-size: 50px 50px;
    width: 100%;
    height: 340px;
}

#shot-details img {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px 5px 15px 5px;
}

#shot-details .title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 5px 0 0px 60px;
}

#shot-details .author {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
    color: #6b7084;
    margin-top: -1px;
    margin-left: 60px;
}

#shot-details .rounded-holder {
    clear: both;
    width: 100%;
    position: relative;
}

#shot-details .rounded-view {
    margin: 0 auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 296px;
    height: 223px;
    border-radius: 10px;
    background-color: #000;
    opacity: 0.2;
}

#shot-details .rounded-holder img {
    position: absolute;
    top: 5px;
    left: 19px;
    width: 270px;
    height: 203px;
}

#shot-details .stats {
    margin-top: 10px;
    color: #fff;
    height: 50px;
}

#shot-details .stat {
    width: 33%;
    float: left;
}

#shot-details .stat-count {
    color: #e9e9e9;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

#shot-details .stat-label {
    color: #39966c;
    text-align: center;
    font-size: 12px;
    margin-top: -7px;
}

#comments {
    clear: both;
}

#comments .comment {
    min-height: 80px;
    margin-bottom: 10px;
}

#comments .author {
    padding-top: 7px;
    margin-left: 58px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

#comments .body-text {
    margin-left: 58px;
    color: #969696;
    font-size: 14px;
}



.view>header.transparent{
	background: transparent none;
}
